@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


p {

  color: white;
  font-family: "Pacifico", cursive;
  font-size: 15px;
  margin: 6px 0 0 20px;
}

h5{
  color: black;
  display: flex;
  justify-content: center;
}
